.postcontent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    
}

.postcontent-img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;   
    max-height: 85vh;
}

.postcontent-heading {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}