.dropdown-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    width: 270px;
    

}

@media only screen and (max-width: 1280px) {
    .selected-container {
      width: 230px;
    }
}

@media only screen and (max-width: 900px) {
    .selected-container {
        width: 130px;
    }
}

@media only screen and (max-width: 500px) {
    .selected-container {
        width: 100%;
    }
}

.selected-container:hover {
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.2);
    cursor: pointer;
    background-color: rgb(209, 202, 202);

}

.selected-container:active {
    box-shadow: 0 0 0;
}

.dropdown-menu {
    position: absolute;
    
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.2);
    top: 81px;
    background-color: white;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
}

@media only screen and (max-width: 700px) {
    .dropdown-menu {
        right: 0;
      
    }
}

.dropdown-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid black;
}

.selected-label, .menu-label {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1280px) {
    .selected-label, .menu-label {
      font-size: 1.1rem;
    }
}

@media only screen and (max-width: 900px) {
    .selected-label, .menu-label {
        font-size: 1rem;
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      
    }
}

@media only screen and (max-width: 800px) {
    .selected-label, .menu-label {
        font-size: 0.9rem;
      
    }
}

@media only screen and (max-width: 500px) {
    .selected-label {
        display: none;
      
    }
}


.dropdown-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 270px;
}

@media only screen and (max-width: 1280px) {
    .dropdown-item {
      width: 230px;
    }
}

@media only screen and (max-width: 900px) {
    .dropdown-item {
        width: 200px;
      
    }
}

.dropdown-item:hover {
    
    background-color: rgb(209, 202, 202);
    cursor: pointer;
}

.dropdown_menu-6 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
    
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}