nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.7rem;
}

.App {
    max-width: 75%;
    margin: 0 auto;
}

img.nav-icon {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 0.5rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}
