.search-form {
    display: flex;
    width: 85%;
    justify-content: space-between;
    border: 1px inset;
}
.search {
    border: none;
    font-size: 1rem;
    outline: none;
    width: 100%;
}

.search-button {
    border: none;
    background: none;
    float: right;
}