.post-container {
    background-color: white;
    width: 80%;
    margin: 1rem 0;
    padding: 1rem;
    
}

.postcontent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    
}

.postcontent-img {
    max-width: 100%;
    margin-top: 1rem;  
    max-height: 90vh;
    
}

.postcontent-heading {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}

img.comments-icon {
    width: 1.5rem;
}

.post-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    
}

.post-info-container div {
    padding: 1rem;
}

.commentcount-container {
    display: flex;
    align-items: center;
}

.commentcount-label {
    padding: 0.2rem;

}

.author-label {
    color: blue;
    font-weight: bold;
}
