video {
    margin-top: 1rem;
    width: 100%;
    max-height: 90vh;
}

.post-container {
    background-color: white;
    width: 100%;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);
}

.postcontent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    
}

.postcontent-img {
    max-width: 100%;
    margin-top: 1rem;  
    max-height: 90vh;
    
}

.postcontent-text {
   
    display: inline-block;
    width: 95%;
    margin-top: 1rem;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: auto;
    padding-bottom: 1rem;
    overflow-y: auto;
    
    
}

.postcontent-text ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 40px;
    padding-bottom: 1rem;
}

.postcontent-text li {
    display: list-item;
    
}

.postcontent-text h1 {
    
    font-size: 1.3rem;
}

.postcontent-text h2 {
    
    font-size: 1.2rem;
}

.postcontent-text h3 {
    
    font-size: 1.1rem;
}

.postcontent-text h4 {
    
    font-size: 1rem;
}

.postcontent-text h5 {
    
    font-size: 0.9rem;
}

.postcontent-text h6 {
    
    font-size: 0.8rem;
}

.postcontent-text h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.postcontent-text p {
    display: block;
    margin-bottom: 0.5rem;
    
}

.postcontent-text li > p {
    word-wrap: normal;
    display: inline-block;
}

.postcontent-text strong {
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
}

.postcontent-text sup {
    vertical-align: super;
    font-size: smaller;
}

.postcontent-text table {
    margin: 1rem 0;
}
.postcontent-text tbody, td, tr, thead, th{
    border: 2px solid gray;
    padding: 0.5rem;
}

.postcontent-heading {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}

img.comments-icon {
    width: 1.5rem;
}

img.comments-icon:hover {
    background-color: rgb(201, 197, 197);
    cursor: pointer;
}

.post-info-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid black;
    
}

.post-info-container div {
    padding: 1rem;
}

.commentcount-container {
    display: flex;
    align-items: center;
}

.commentcount-label {
    padding: 0.2rem;

}

.author-label {
    color: blue;
    font-weight: bold;
}
