.scroll-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    background-color: whitesmoke;
    bottom: 50px;
    right: 50px;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

@media only screen and (max-width: 1280px) {
    .scroll-top {
      right: 5px; 
    }
}

.scroll-top:hover {
    cursor: pointer;
    background-color: blue;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.arrow-up-icon {
    width: 100%;
}